# This is of course a fairly sensitive project which interacts with hidden passwords.
# There is the potential that nefarious users could introduce code to expose email addresses and the emailers password.
# As such, all code must be reviewed by the project owner before being merged.

* @max.derner@bjss.com @max.derner@gmail.com