email_addresses.json
passwords.json
jobsworth/
geckodriver.log
**/__pycache__/
.vscode/
experimental.py
archives/
artefacts/
vulnerability_outputs/
json_files/email_addresses.json
json_files/passwords.json
.coverage
reports
